<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ITTrade.Properties.Settings.ITTradeConnectionString" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=ITTrade;Integrated Security=True;Min Pool Size=1" providerName="System.Data.SqlClient"/>
		<add name="ProductGroupEntities" connectionString="metadata=res://*/Models.ProductGroup.csdl|res://*/Models.ProductGroup.ssdl|res://*/Models.ProductGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress2008;Initial Catalog=ITTrade;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="ITTrade.Properties.Settings.ITTradeConnectionString1"
      connectionString="Data Source=itretyakov\sqlexpress2008;Initial Catalog=ITTrade;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
		<!--<add name="ITTrade.Properties.Settings.TestDatabaseConnectionString"
      connectionString="Data Source=|DataDirectory|\ITTradeDB\TestDatabase.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />-->
	</connectionStrings>
	<startup>
	</startup>
</configuration>
